:root {
  --dark: #0b1220;
  --darker: #070b14;
  --red: #e11d48;
  --bg-hover: #f1355e;
  --overlay-red: #d10024;
  --main-transition: all 0.3s;
  --background-gray: #e4e7ed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  overflow-x: hidden;
}

ul {
  list-style: none;
}
button {
  border: none;
}
a,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.link {
  transition: var(--main-transition);
}
.link:hover {
  color: var(--red);
}
h2,
h3 {
  text-transform: uppercase;
}
.hidden {
  display: none;
}
.btn {
  background-color: var(--red);
  transition: var(--main-transition);
}
.btn:hover {
  background-color: var(--bg-hover);
}
/* /////////////////////////////// */
/* Header */
.container {
  max-width: 130rem;
  padding: 1.2rem min(12rem, 12%) !important;
  /* margin: 0 auto; */
}
header a {
  color: inherit;
}
.top-header {
  background-color: var(--dark);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  gap: 10px;
}
.top-header div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.top-header i {
  color: var(--red);
}
.main-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--darker);
  padding: 2.4rem 4.8rem;
}
.main-header h1 {
  font-size: 2.4rem;
}
.main-header h1 span {
  background-color: var(--red);
  display: inline-block;
  margin-left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 99px;
}
.search-wrapper {
  display: flex;
  height: 40px;
  align-items: center;
  width: min(600px, 50%);
}
.search-wrapper select {
  border-radius: 50px 0 0 50px;
  width: 150px;
  height: 100%;
  border: none;
  padding: 5px;
  font-size: 16px;
}
.search-wrapper input {
  width: 100%;
  border: none;
  height: 100%;
  border-right: 1px solid var(--dark);
  border-left: 1px solid var(--dark);
  padding-left: 5px;
  font-size: 16px;
}
.search-wrapper input:focus {
  border: none;
}
.search-wrapper button {
  background-color: var(--red);
  border-radius: 0 50px 50px 0;
  width: 100px;
  height: 100%;
  color: #fff;
  font-weight: bold;
  padding: 0 20px;
  font-size: 16px;
}
.nav-btns {
  display: flex;
  align-items: center;
  gap: 14px;
}

.nav-btns button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
.nav-btns .bi-heart-fill,
.nav-btns .bi-heart,
.nav-btns .bi-cart,
.nav-btns .bi-cart-fill {
  transition: var(--main-transition);
}
.nav-btns button:hover .bi-heart {
  display: none;
}
.nav-btns button:hover .bi-heart-fill {
  display: block;
}
.nav-btns button:hover .bi-cart {
  display: none;
}
.nav-btns button:hover .bi-cart-fill {
  display: block;
}
.icon-box {
  position: relative;
  font-size: 22px;
}

.icon-box span {
  position: absolute;
  top: -6px;
  right: -8px;
  background-color: var(--red);
  color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-btns p {
  font-size: 12px;
  margin: 0;
}

.menu-btn {
  display: none !important;
}
.close-nav {
  position: absolute;
  display: none;
  background: none;
  color: var(--red);
  font-size: 1.2rem;
  top: 20px;
  right: 20px;
}
/* //////////////////////// */
/* Nav */
nav {
  margin-bottom: 2.4rem;
  padding: 1.2rem min(12rem, 12%);
}
nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-link {
  position: relative;
  padding-bottom: 5px;
}

.nav-link a {
  color: var(--dark);
  transition: var(--main-transition);
}
.nav-link:hover a {
  color: var(--red);
}
.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--red);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}
.nav-link.active::before,
.nav-link.pinned::before {
  transform: scaleX(1);
}
.nav-link.active a,
.nav-link.pinned a {
  color: var(--red);
}

/* //////////////////////// */
/* main */
main {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
/* categories section */
.categories-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.collection-card {
  position: relative;
  flex-grow: 1;
  width: 250px;
  height: 200px;
  overflow: hidden;
  background: var(--background-gray);
}

.collection-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: var(--main-transition);
}
.collection-card:hover img {
  scale: 1.1;
}
.collection-card .overlay {
  position: absolute;
  top: -50%;
  left: -140%;
  width: 200%;
  height: 200%;
  background: var(--overlay-red);
  opacity: 0.9;
  transform: skewX(-45deg);
}

.collection-card .content {
  position: absolute;
  top: 30px;
  left: 25px;
  z-index: 2;
  color: #fff;
}

.collection-card h3 {
  margin: 0;
  font-size: 22px;
  line-height: 1.2;
}

.collection-card a {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  font-weight: 500;
}

/* products section */
#products {
  color: var(--dark);
  padding-top: 0;
  padding-bottom: 0;
}
.products-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 2.4rem;
  width: 100%;
}
.products-head ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pnav-link {
  position: relative;
  padding-bottom: 5px;
}

.pnav-link a {
  color: var(--dark);
  transition: var(--main-transition);
}
.pnav-link:hover a {
  color: var(--red);
}
.pnav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--red);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}
.pnav-link.active::before,
.pnav-link.pinned::before {
  transform: scaleX(1);
}
.pnav-link.active a {
  color: var(--red);
}
.products-viewport {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  anchor-name: --products-list;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
}
.products-list {
  display: flex;
  margin: 3em 0;
  gap: 1.3rem;
  padding-bottom: 30px;
}
.products-list::scroll-marker-group {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.products-viewport::-webkit-scrollbar {
  display: none;
}
.products-viewport::scroll-button(left):disabled,
.products-viewport::scroll-button(right):disabled {
  opacity: 0.5;
  cursor: auto;
}
.products-viewport::scroll-button(left),
.products-viewport::scroll-button(right) {
  content: "←";
  border: none;
  background-color: var(--red);
  color: #fff;
  font-size: 18px;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  cursor: pointer;
  position: fixed;
  position-anchor: --products-list;
  position-area: left center;
  translate: 0;
  margin-top: 10px;
  transition: var(--main-transition);
  margin-bottom: 80px;
}
.products-viewport::scroll-button(right) {
  content: " →";
  position-area: right center;
  translate: 0;
}
.products-viewport::scroll-button(left):hover,
.products-viewport::scroll-button(right):hover {
  background-color: var(--red-hover);
}
.product-wrapper {
  position: relative;
  scroll-snap-align: start;
  flex: 0 0 calc(25% - 1rem);
  height: 400px;
  border: 1px solid #999;
  background: #fff;
  text-align: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  gap: 1.2rem;
  transition: border-color 0.3s ease;
}

.product-wrapper:hover {
  border: 2px solid var(--red);
}

.hover-action {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  background: #1e1f29;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateY(0);
  opacity: 0;

  transition: transform 0.4s ease, opacity 0.4s ease;
  z-index: 2;
}

.product-wrapper:hover .hover-action {
  transform: translateY(100%);
  opacity: 1;
}
.hover-action .btn {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  transition: var(--main-transition);
}
.hover-action .btn:hover i {
  display: block;
}
.product-card::scroll-marker {
  content: "";
  height: 7px;
  width: 7px;
  background-color: #999;
  border-radius: 50%;
  display: none;
}
.product-card::scroll-marker:target-current {
  background-color: var(--red);
}
.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}
.badges {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.badge {
  width: fit-content;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  font-weight: 600;
  border: 1px solid var(--red);
}
.new {
  background: #e11d48;
}
.discount {
  color: var(--red);
}
.product-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.category {
  font-size: 12px;
  color: #aaa;
  letter-spacing: 1px;
}

.product-info h3 {
  font-size: 16px;
  font-weight: 600;
  color: #111;
}

.price {
  font-size: 18px;
  font-weight: 700;
  color: #e11d48;
}

.price span {
  font-size: 14px;
  color: #999;
  text-decoration: line-through;
  margin-left: 6px;
}

.stars {
  color: #fbbf24;
  font-size: 14px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 10px;
}

.actions i {
  font-size: 18px;
  color: #555;
  cursor: pointer;
  transition: var(--main-transition);
}

.actions i:hover {
  color: #e11d48;
  transform: scale(1.1);
}

/* Sales */
#sales {
  background-color: var(--background-gray);
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#sales img {
  position: absolute;
  width: min(500px, 40%);
  height: auto;
}
#sales .laptop-img {
  left: -3rem;
}
#sales .headphone-img {
  right: -3rem;
}

.sales-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  text-transform: uppercase;
  flex-wrap: wrap;
}

.sales-time {
  display: flex;
  align-items: center;
  gap: 5px;
}
.sales-time div {
  background-color: var(--red);
  width: 70px;
  height: 70px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.sales-content h2 {
  font-size: 1.8rem;
}
.sales-content h2,
.sales-content p {
  color: var(--dark);
}
.sales-content p {
  font-size: 1.4rem;
}
.sales-content button {
  color: #fff;
  background-color: var(--red);
  border-radius: 50px;
  padding: 12px;
  font-size: 16px;
}

/* Top Sellings */
.top-products-viewport {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  anchor-name: --top-products-list;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
}

.top-products-viewport::-webkit-scrollbar {
  display: none;
}
.top-products-viewport::scroll-button(left):disabled,
.top-products-viewport::scroll-button(right):disabled {
  opacity: 0.5;
  cursor: auto;
}
.top-products-viewport::scroll-button(left),
.top-products-viewport::scroll-button(right) {
  content: "←";
  border: none;
  background-color: var(--red);
  color: #fff;
  font-size: 18px;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  cursor: pointer;
  position: fixed;
  position-anchor: --top-products-list;
  position-area: left center;
  translate: 0;
  margin-top: 10px;
  transition: var(--main-transition);
  margin-bottom: 80px;
}
.top-products-viewport::scroll-button(right) {
  content: " →";
  position-area: right center;
  translate: 0;
}
.top-top-products-viewport::scroll-button(left):hover,
.top-top-products-viewport::scroll-button(right):hover {
  background-color: var(--red-hover);
}

.top-sellings {
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.8rem;
}
.top-seller-wrapper {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.top-seller-wrapper h3 {
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.top-sellers {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
  display: flex;
}
.top-1 {
  anchor-name: --top-list-1;
}
.top-2 {
  anchor-name: --top-list-2;
}
.top-3 {
  anchor-name: --top-list-3;
}
.top-seller-list {
  scroll-snap-align: start;
  flex: 0 0 100%;
}
.top-sellers::scroll-button(left):disabled,
.top-sellers::scroll-button(right):disabled {
  opacity: 0.5;
  cursor: auto;
}
.top-1::scroll-button(left),
.top-1::scroll-button(right) {
  position-anchor: --top-list-1;
}
.top-2::scroll-button(left),
.top-2::scroll-button(right) {
  position-anchor: --top-list-2;
}
.top-3::scroll-button(left),
.top-3::scroll-button(right) {
  position-anchor: --top-list-3;
}
.top-1::scroll-button(left),
.top-1::scroll-button(right),
.top-2::scroll-button(left),
.top-2::scroll-button(right),
.top-3::scroll-button(left),
.top-3::scroll-button(right) {
  content: "<";
  border: none;
  background-color: var(--red);
  color: #fff;
  font-size: 12px;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  cursor: pointer;
  position: fixed;
  position-area: right top;
  translate: -60px;
  margin-top: 10px;
  margin-bottom: 1.2rem;
  transition: var(--main-transition);
}
.top-1::scroll-button(right),
.top-2::scroll-button(right),
.top-3::scroll-button(right) {
  content: " >";
  position-area: right top;
  translate: -40px;
}
.top-1::scroll-button(left):hover,
.top-1::scroll-button(right):hover,
.top-2::scroll-button(left):hover,
.top-2::scroll-button(right):hover,
.top-3::scroll-button(left):hover,
.top-3::scroll-button(right):hover {
  background-color: var(--red-hover);
}
.top-1::-webkit-scrollbar,
.top-2::-webkit-scrollbar,
.top-3::-webkit-scrollbar {
  display: none;
}
.top-seller {
  display: flex;
  align-items: center;
  gap: 10px;
}
.top-seller img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.top-seller-info p {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.top-seller-info p {
  font-size: 16px;
}
/* CTA */
#cta {
  border-top: 1px solid #e7e7e7;
  position: relative;
}
#cta .bi-envelope {
  position: absolute;
  top: 20%;
  left: 25%;
  color: var(--background-gray);
  font-size: 10rem;
  font-weight: bolder;
  transform: rotate(15deg);
  z-index: -1;
}
.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: var(--dark);
  font-size: 1.6rem;
  padding: 4.8rem 0;
}
.cta-container p span {
  text-transform: uppercase;
  font-weight: bold;
}
.cta-search-wrapper {
  display: flex;
  height: 40px;
  align-items: center;
  width: min(600px, 50%);
  border: 1px solid #e7e7e7;
  border-radius: 50px;
}
.cta-search-wrapper input {
  width: 100%;
  border: none;
  height: 100%;
  padding-left: 5px;
  border-radius: 50px 0 0 50px;
}
.cta-search-wrapper button {
  background-color: var(--red);
  border-radius: 0 50px 50px 0;
  width: 120px;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.social-links a {
  color: var(--dark);
  font-size: 20px;
  border: 1px solid #e7e7e7;
  padding: 5px;
  transition: var(--main-transition);
}
.social-links a:hover {
  color: var(--red);
  scale: 1.05;
}
/*Footer  */
footer {
  border-top: 2px solid var(--red);
}
.footer-container {
  background-color: var(--darker);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  font-size: 14px;
  padding: 4.8rem;
}
.footer-container div {
  flex-grow: 1;
}
.footer-links {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.footer-links li a {
  transition: var(--main-transition);
}
.footer-links li:hover a {
  color: var(--red);
}
.footer-container h3 {
  margin-bottom: 1.2rem;
}
.footer-container p {
  margin-bottom: 10px;
}
.footer-container ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer-container ul li a {
  color: #fff;
}
.footer-container ul li a i {
  color: var(--red);
}
.footer-tail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  padding: 2.4rem;
  gap: 1.8rem;
  text-align: center;
}
.footer-tail div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer-tail i {
  color: var(--darker);
  font-weight: bolder;
  font-size: 2.4rem;
}
.footer-tail p {
  font-size: 14px;
  line-height: 1.4;
}
